<footer class="site-footer">
    <center>
        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center;">
            <img src="../assets/shatterm.svg" type="image/svg+xml" alt="Logo" class="logo" width="60em" height="60em"
                style="filter: invert(10%); display: inline; color: floralwhite;" />&nbsp;&nbsp;
            <h2 style="font-family: 'Kaushan Script', cursive; display: inline; font-size: 1.8em; color: floralwhite; ">
                Roselyn_Blog
            </h2>
        </div>
        <br>
    </center>
    <p style="font-size: 0.75em;">© 2021 RoselynBlog. All rights reserved.</p>
</footer>