<header class="page-header">

  <script src="https://kit.fontawesome.com/c0e62f6ac3.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link rel="icon" href="../assets/shatterm.svg" type="image/icon type">
  <div class="container">
    <div class="page-header__content">
      <div style="display:flex; flex-direction: row; justify-content: space-between; align-items: center; width: 20%;">
        <img src="../assets/shatterm.svg" type="image/svg+xml" alt="Logo" class="logo" width="75em" height="75em"
          style="filter: invert(70%); display: inline;" />&nbsp;&nbsp;&nbsp;
        <h2 style="font-family: 'Kaushan Script', cursive; display: inline; font-size: 2.4em; color: #404040; ">
          Roselyn_Blog
        </h2>
      </div>
      <nav>

        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/" style="text-decoration: none !important;">
              < Home />
            </a>
          </li>
          <li>
            <a href="/blog/" style="text-decoration: none !important;">
              < Blog />
              </Blog>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</header>